//- Icon box vertical
mixin icon-box-vertical(obj)
  //- Icon box vertical
  article.icon-box-vertical(class=obj.mod)
    span.novi-icon.icon.icon-secondary(class=obj.icon)
    h5.icon-box-header=obj.header
    p=obj.text
  ='\n'