//- Thumbnail variant 1
mixin thumbnail-1(obj)
  .thumbnail.thumbnail-variant-1
    .thumbnail-image
      +img(obj.img)
      .thumbnail-image-inner
        a.novi-icon.icon.icon-md.material-icons-local_phone.link-secondary-inverse(href='tel:#')
        a.novi-icon.icon.icon-md-smaller.fa-envelope-o.link-white(href='mailto:#')
    .thumbnail-caption
      h5.header: a(href='team-member-profile.html')=obj.header
      p=obj.caption