extends  ../_skeleton

//- Includes
include ../elements/_ui-twitter-widget

block variables
  - var activeIndex = 5
  - var pageName = 'Extras'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  //- RD Twitter Feed
  section.section-50.section-md-75.section-xl-top-90.section-xl-bottom-100.bg-whisper
    .container
      .row
        .col-sm-12
          h4 RD Twitter Feed
    .container.twitter(data-twitter-username='templatemonster', data-twitter-date-format="%d %b %Y", data-twitter-date-hours=" hours ago", data-twitter-date-minutes=" minutes ago")
      .row.row-30
        .col-md-6
          +twitter-widget
          +twitter-widget

        .col-md-6
          +twitter-widget
  ='\n'

  //- Page Footer
  include ../sections/_section-footer-default