extends  ../_skeleton

//- Includes
include ../elements/_ui-icon-box
include ../elements/_ui-icon-box-vertical
include ../elements/_ui-icon-box-horizontal

block variables
  - var activeIndex = 5
  - var pageName = 'Icon lists'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  //- Lists
  section.section.section-40.section-md-top-75.section-md-bottom-50.section-xl-top-90
    .container
      h3 Lists
      .row.row-40
        .col-sm-6.col-md-4.col-xl-3
          h5 Unordered List
          ul.list-marked
            li Responsive & Retina
            li Extensive docs
            li Powerful Navigation
            li Video Backgrounds
            li Social Plugins

        .col-sm-6.col-md-4.col-xl-3
          h5 Ordered List
          ul.list-ordered
            li Responsive & Retina
            li Extensive docs
            li Powerful Navigation
            li Video Backgrounds
            li Social Plugins
  ='\n'

  //- Icon Left List
  section.section-40
    .container
      h3 Icon Left List
      .row
        .col-lg-9.col-xl-12
          .row.row.row-40
            .col-md-6.col-xl-3
              +icon-box-left({
                icon: ['icon-lg', 'mercury-icon-news'],
                header: 'Edge Technologies',
                text: 'Our team of professional analysts is constantly roaming the web in search of promising techniques.'
              })

            .col-md-6.col-xl-3
              +icon-box-left({
                icon: ['icon-lg', 'mercury-icon-time'],
                header: 'We Value Your Time',
                text: 'We know how important it is for you to maintain your schedule, that’s why we do everything to fit it. '
              })

            .col-md-6.col-xl-3
              +icon-box-left({
                icon: ['icon-lg', 'mercury-icon-phone-24'],
                header: 'Qualified Support',
                text: 'Our support team is online 24/7, and is ready to help you with any design-related issue.'
              })

            .col-md-6.col-xl-3
              +icon-box-left({
                icon: ['icon-lg', 'mercury-icon-note-2'],
                header: 'Made for Speed',
                text: 'We know how embarassing and time-consuming content loading can be.'
              })
  ='\n'

  //- Icon Top List
  section.section-50
    .container
      h3 Icon Top List
      .row
        .col-lg-9.col-xl-12
          .row.row-40
            .col-sm-6.col-xl-3
              +icon-box-vertical({
                icon: ['icon-lg', 'mercury-icon-group'],
                header: 'Responsive & Retina',
                text: 'LawFirm looks simply great on any screen resolution. All images are responsive and ultra sharp.'
              })

            .col-sm-6.col-xl-3
              +icon-box-vertical({
                icon: ['icon-lg', 'mercury-icon-books'],
                header: 'Extensive docs',
                text: 'LawFirm has online and easily accesible documentation. Our documentation contains detailed instructions for further template customization and self adaptation.'
              })

            .col-sm-6.col-xl-3
              +icon-box-vertical({
                icon: ['icon-lg', 'mercury-icon-touch'],
                header: 'Video Backgrounds',
                text: 'Our templates are enabled with captivating video background, an option which can transform any website into esthetically appealing one.'
              })

            .col-sm-6.col-xl-3
              +icon-box-vertical({
                icon: ['icon-lg', 'mercury-icon-pointer'],
                header: 'Powerful Navigation',
                text: 'Powerful and really flexible RD Navbar plugin is included too. Create any type of navigation with our ready-to-go examples and adapt them to your needs.'
              })
  ='\n'

  //- Icon Box
  section.section-top-35.section-bottom-60.section-md-bottom-100
    .container
      h3 Icon Box

      include ../sections/_section-icon-box

  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default