extends  ../_skeleton

block variables
  - var pageName = 'Login'

block title 
  title=pageName

block page
  section.section.section-single.novi-background.bg-gray-darker.novi-background(style='background-image: url(images/bg-special.jpg);')
    .section-single-inner
      //- Page Header
      include ../sections/_section-header-base-transparent

      //- Page Content
      .section-single-main
        .container
          .row.justify-content-md-center
            //- Login Form
            .col-md-7.col-lg-5.col-xl-4
              include ../sections/_section-form-login

      //- Page Footer
      include ../sections/_section-footer-base-transparent