extends  ../_skeleton

block variables
  - var activeIndex = 5
  - var pageName = 'Search Results'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  //- Privacy Policy
  section.section-60.section-md-90.section-xl-bottom-120
    .container
      .row.row-40.row-md-60.justify-content-lg-center
        .col-lg-10
          //- RD Search
          form.rd-search.rd-search-minimal(action="search-results.html", method="GET", data-search-live-count='15')
            .form-wrap
              label(for="rd-search-form-input-1" class="form-label")
                span.text-mobile search...
                span.text-default start typing and hit enter
              input.form-input(class="form-control" id="rd-search-form-input-1" type="text" name="s" autocomplete="off")
            button.button-icon-only.button-icon-only-primary(type='submit')
              span.novi-icon.icon.icon-sm.material-icons-keyboard_return

        .col-md-11
          .rd-search-results
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default