extends  ../_skeleton

//- Includes
include ../elements/_ui-icon-box-vertical
include ../elements/_ui-link-image

block variables
  - var activeIndex = 2
  - var pageName = 'Services'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title(pageName, 'bg-image-1')

  //- You Can Trust Us
  section
    .container
      .row.flex-lg-row-reverse.align-items-lg-end.justify-content-lg-end
        .col-md-11.col-lg-6.col-xl-5
          .section-60.section-md-90
            h3 You Can Trust Us
            p Every case is different. Past results are in no way intended to imply that a similar result can be obtained in a case.  But past results do indicate a firm’s experience when it comes to serious catastrophic injury and wrongful death cases. Our attorneys represent clients in a variety of practice areas, including car accident, birth injury, brain injury, defective product, drug injury, motorcycle accident, nursing home abuse, personal injury, Social Security disability, spinal cord injury, traffic ticket, truck accident, and much more.
            a.button.button-primary(href='about-us.html') Read More

        .col-lg-6.col-xl-6.d-none.d-lg-block
          .image-wrap-2
            +png('services-1-570x537')
  ='\n'

  //- Our Clients
  section.section-60.section-md-90.section-xl-bottom-120.bg-whisper
    .container
      h3 Our Clients
      .row.row-40.align-items-center
        .col-md-7.col-lg-5.col-xl-4
          //- Owl Carousel
          .owl-carousel.owl-nav-bottom-left(data-items='1', data-stage-padding='0', data-loop='true', data-margin='30', data-mouse-drag="false", data-nav='true', data-animation-in='fadeIn', data-animation-out='fadeOut')
            .item
              p We endeavour to establish long-lasting relationships with our clients. Every assignment is preceded by a careful assessment of the work, costs and realistic results.
            .item
              p Our firm is like family. We truly believe that each case is someone’s life and we need to treat it as such.
            .item
              p Results are only successful when we  make a difference in your life. We’ll help you get the money and benefits.

        .col-lg-7.col-xl-8
          .row.row-30.shift-top-1
            .col-sm-6.col-md-3
              +link-image({img: 'clients-3-132x83'})

            .col-sm-6.col-md-3
              +link-image({img: 'clients-4-169x68'})

            .col-sm-6.col-md-3
              +link-image({img: 'clients-5-141x88'})

            .col-sm-6.col-md-3
              +link-image({img: 'clients-6-138x55'})
  ='\n'

  //- What We Do
  .divider.divider-wide.bg-accent
  section.rd-parallax.bg-ebony-clay.bg-image(data-on='false', data-md-on='true', style='background-image: url(images/clients-parallax-1.jpg)')
    .rd-parallax-layer(data-speed='0.33', data-type='media', data-url='images/clients-parallax-1.jpg')
    .rd-parallax-layer(data-speed='0', data-type='html')
      .section-60.section-md-90
        .container
          h3.text-center Our Services
          p.block-centered.text-white(style='max-width: 540px;').
            Our practice has an extensive history of long-standing relationships with law firm clients built on integrity, first-rate service, timely delivery and relevant advice.

          .row.row-50
            .col-sm-6.col-lg-4
              +icon-box-vertical({
                mod: 'icon-box-vertical-sm',
                icon: ['icon-lg', 'mercury-icon-chat'],
                header: 'Advertising Law',
                text: 'Advertising law is a broad, fast-evolving area of law that involves vetting claims about products and managing business practices.'
              })

            .col-sm-6.col-lg-4
              +icon-box-vertical({
                mod: 'icon-box-vertical-sm',
                icon: ['icon-lg', 'mercury-icon-globe'],
                header: 'Oil & Gas Law',
                text: 'Includes the exploration for, and the production, transportation and processing of, crude oil, natural gas and hydrocarbons.'
              })

            .col-sm-6.col-lg-4
              +icon-box-vertical({
                mod: 'icon-box-vertical-sm',
                icon: ['icon-lg', 'mercury-icon-books'],
                header: 'Insurance Law',
                text: 'Insurance policies sold to corporate policyholders protect against a wide variety of risks.'
              })

            .col-sm-6.col-lg-4
              +icon-box-vertical({
                mod: 'icon-box-vertical-sm',
                icon: ['icon-lg', 'mercury-icon-target-2'],
                header: 'Sports Law',
                text: 'Sports is a multibillion-dollar global industry enjoying unprecedented growth.'
              })

            .col-sm-6.col-lg-4
              +icon-box-vertical({
                mod: 'icon-box-vertical-sm',
                icon: ['icon-lg', 'mercury-icon-presentation-3'],
                header: 'Education Law',
                text: 'Education law deals with public and private institutions at all levels – primary, secondary and higher education.'
              })

            .col-sm-6.col-lg-4
              +icon-box-vertical({
                mod: 'icon-box-vertical-sm',
                icon: ['icon-lg', 'mercury-icon-card'],
                header: 'Elder Law',
                text: 'Elder law is an area of legal practice that specializes on all kinds of issues that affect the aging population.'
              })
  .divider.divider-wide.bg-accent
  ='\n'


  //- Pricing tables
  section.bg-decoration-wrap.bg-decoration-bottom.bg-decoration-bottom-mod.section-60.section-md-100.bg-gray-lighter
    .container.bg-decoration-content
      .row.row-40.justify-content-md-center
        .col-lg-10.col-xl-12
          h3 Choose Your Plan
        .col-lg-10.col-xl-12
          include ../_includes/_pricing-tables-range
    .bg-decoration-object.bg-whisper
  ='\n'

  //- The Law Firm You Can Trust!
  section.section-60.section-md-100.bg-accent
    .container.text-center.text-lg-left
      .row.row-30.align-items-md-center.justify-content-md-center
        .col-lg-8.col-xl-7
          h3.medium The Law Firm You Can Trust!
        .col-lg-4.col-xl-3
          a.button.button-xl.button-white-outline(href='appointment.html', style='min-width: 270px;') Free Advice
  ='\n'


  //- Page Footer
  include ../sections/_section-footer-default