extends  ../_skeleton

block variables
  - var pageName = '404 page'

block title
  title=pageName

block page
  section.section.section-single.novi-background.bg-gray-darker.novi-background(style='background-image: url(images/bg-special.jpg);')
    .section-single-inner
      //- Page Header
      include ../sections/_section-header-base-transparent

      //- Page Main
      .section-single-main
        .container
          .row.justify-content-md-center
            .col-md-9.col-lg-8 
              h5 Sorry, but page was not found 
              .text-extra-large-bordered 
                p 404
              p You may have mistyped the address or the page may have moved.
              .group-xl
                a.button.button-primary(href='index.html') Back to Home
                a.button.button-white-outline(href='contact-us.html') Contact Us

      //- Page Footer
      include ../sections/_section-footer-base-transparent