extends  ../_skeleton

//- Includes
include ../elements/_ui-thumbnail-3

block variables
  - var activeIndex = 3
  - var pageName = 'Gallery masonry'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title('Gallery', 'bg-image-2')

  section.section-50.section-md-90.section-lg-bottom-120.section-xl-bottom-165
    .container.isotope-wrap
      .row.row-40.text-center
        .col-12
          //- Isotope Filters
          ul.isotope-filters-responsive
            li: p Choose your category:
            li.block-top-level
              //- Isotope Filters
              button.isotope-filters-toggle.button.button-sm.button-default(data-custom-toggle='#isotope-1', data-custom-toggle-hide-on-blur='true')
                | Filter
                span.caret

              #isotope-1.isotope-filters.isotope-filters-minimal.isotope-filters-horizontal
                ul.list-inline
                  li: a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All
                  li: a(data-isotope-filter='Category 1', data-isotope-group='gallery', href='#') Advertising Law
                  li: a(data-isotope-filter='Category 2', data-isotope-group='gallery', href='#') Insurance Law
                  li: a(data-isotope-filter='Category 3', data-isotope-group='gallery', href='#') Education Law

        //- Isotope Content
        .col-12
          //.row
          .row.isotope.isotope-gutter-default(data-isotope-layout='masonry', data-isotope-group='gallery', data-photo-swipe-gallery='gallery', data-column-width=".42")
            .col-12.col-md-6.col-lg-8.isotope-item(data-filter='Category 1')
              +thumbnail-3({img: 'gallery-masonry-1-770x586', original: 'gallery-1-1200x797_original'})

            .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
              +thumbnail-3({img: 'gallery-masonry-2-370x278', original: 'gallery-3-1200x801_original'})

            .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 3')
              +thumbnail-3({img: 'gallery-masonry-3-371x586', original: 'gallery-5-1200x911_original'})

            .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 1')
              +thumbnail-3({img: 'gallery-masonry-4-373x278', original: 'gallery-4-1200x801_original'})

            .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 2')
              +thumbnail-3({img: 'gallery-masonry-5-373x278', original: 'gallery-2-1200x795_original'})

            .col-12.col-md-6.col-lg-8.isotope-item(data-filter='Category 3')
              +thumbnail-3({img: 'gallery-masonry-6-769x384', original: 'gallery-7-1200x800_original'})

            .col-12.col-md-6.col-lg-4.isotope-item(data-filter='Category 1')
              +thumbnail-3({img: 'gallery-masonry-7-371x384', original: 'gallery-9-1200x800_original'})
  ='\n'

  //- Page Footer
  include ../sections/_section-footer-default