extends  ../_skeleton

block variables
  - var activeIndex = 5
  - var pageName = 'Grid'

block title
  title=pageName

block page
  //- Page Header
  include ../sections/_section-header-default

  //- Page Content
  +page-title('Grid System', 'bg-image-2')

  //- Grid System
  section.section-60.section-md-90.section-lg-bottom-120
    .container.grid-system
      .row.row-50.row-lg-90
        .col-12
          h4 1\1
          p.
            Our approach is practical and client-oriented, and we are committed to providing efficient, effective, and top-quality legal services. Other firms measure success by their growth in size. Our priority is to measure our success based on the growth in the quality of our work and the complexity of our legal services. We endeavour to establish long-lasting relationships with our clients. Every assignment is preceded by a careful assessment of the work, costs and realistic results.
        .col-6
          h4 1\2
          p.
            Our approach is practical and client-oriented, and we are committed to providing efficient, effective, and top-quality legal services. Other firms measure success by their growth in size. Our priority is to measure our success based on the growth in the quality of our work...
        .col-6
          h4 1\2
          p.
            Our approach is practical and client-oriented, and we are committed to providing efficient, effective, and top-quality legal services. Other firms measure success by their growth in size. Our priority is to measure our success based on the growth in the quality of our work...
        .col-4
          h4 1\3
          p.
            Our approach is practical and client-oriented, and we are committed to providing efficient, effective, and top-quality legal services. Other firms measure success by their growth in size. Our priority is to measure our success based on...
        .col-4
          h4 1\3
          p.
            Our approach is practical and client-oriented, and we are committed to providing efficient, effective, and top-quality legal services. Other firms measure success by their growth in size. Our priority is to measure our success based on...
        .col-4
          h4 1\3
          p.
            Our approach is practical and client-oriented, and we are committed to providing efficient, effective, and top-quality legal services. Other firms measure success by their growth in size. Our priority is to measure our success based on...
        .col-3
          h4 1\4
          p.
            Our approach is practical and client-oriented, and we are committed to providing efficient, effective, and...
        .col-3
          h4 1\4
          p.
            Our approach is practical and client-oriented, and we are committed to providing efficient, effective, and...
        .col-3
          h4 1\4
          p.
            Our approach is practical and client-oriented, and we are committed to providing efficient, effective, and...
        .col-3
          h4 1\4
          p.
            Our approach is practical and client-oriented, and we are committed to providing efficient, effective, and...
        .col-8
          h4 2\3
          p.
            Our approach is practical and client-oriented, and we are committed to providing efficient, effective, and top-quality legal services. Other firms measure success by their growth in size. Our priority is to measure our success based on the growth in the quality of our work and the complexity of our legal services. We endeavour to establish long-lasting relationships with our clients. Every assignment is preceded by a careful assessment of the work, costs and realistic results...
        .col-4
          h4 1\3
          p.
            Our approach is practical and client-oriented, and we are committed to providing efficient, effective, and top-quality legal services. Other firms measure success by their growth in size. Our priority is to measure our success based on...
  ='\n'

  //- Page Footer
  include ../sections/_section-footer-default