extends  ../_skeleton

block variables
  - var pageName = 'Register'

block title
  title=pageName

block page
  section.section.section-single.novi-background.bg-gray-darker.novi-background(style='background-image: url(images/bg-special.jpg);')
    .section-single-inner
      //- Page Header
      include ../sections/_section-header-base-transparent

      //- Page Content
      .section-single-main
        .container
          .row.justify-content-md-center
            .col-md-7.col-lg-5.col-xl-4
              //- Block shadow
              .block-shadow.text-center
                .block-inner
                  p.text-style-3 Create your account
                  span.novi-icon.icon.icon-xl.icon-black.block-icon.material-icons-face
                //- RD Mailform
                form.rd-mailform.form-modern.form-darker(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                  .block-inner
                    .form-wrap
                      input#register-form-name.form-input(type="text" name="name" data-constraints="@Required")
                      label.form-label(for="register-form-name") Username
                    .form-wrap
                      input#register-form-email.form-input(type="email" name="email" data-constraints="@Email @Required")
                      label.form-label(for="register-form-email") Email
                    .form-wrap
                      input#register-form-password.form-input(type="password" name="pass" data-constraints="@Required")
                      label.form-label(for="register-form-password") Password

                    .form-wrap
                      input#register-form-password-confirm.form-input(type="password" name="pass-confirm" data-constraints="@Required")
                      label.form-label(for="register-form-password-confirm") Repeat a password

                    .form-wrap.text-left.text-secondary
                      label.checkbox-inline
                        input(name='input-checkbox', value='checkbox-1', type='checkbox')
                        | I agree with the&nbsp;
                        a.link-primary-inline(href='privacy-policy.html') Terms of use
                        | .
                  .button-wrap
                    button(type="submit").button.button-primary.button-block Sign up

      //- Page Footer
      include ../sections/_section-footer-base-transparent