//- Team members
.container
  .row.row-40.align-items-center
    .col-sm-6.col-md-12.col-lg-3.text-center
      .block-wrap-1
        h3.text-normal Experts 
        p.h5.h5-smaller.text-style-4 in Their Fields
        p If you or your business is facing a legal challenge, contact us today to arrange a free initial consultation with an attorney.
        a.link.link-group.link-group-animated.link-bold(href="our-team.html")
          span Read more
          span.novi-icon.icon.icon-xxs.icon-primary.fa.fa-angle-right

    .col-sm-6.col-md-4.col-lg-3
      +thumbnail-2({
        img: 'team-9-246x300',
        header: "Amanda Smith",
        caption: "Business Expert",
        phone: "+1 (409) 987–5874",
        email: "info@demolink.org"
      })

    .col-sm-6.col-md-4.col-lg-3
      +thumbnail-2({
        img: 'team-10-246x300',
        header: "John Doe",
        caption: "PR Manager",
        phone: "+1 (409) 987–5874",
        email: "info@demolink.org"
      })

    .col-sm-6.col-md-4.col-lg-3
      +thumbnail-2({
        img: 'team-11-246x300',
        header: "Vanessa Ives",
        caption: "Marketing Expert",
        phone: "+1 (409) 987–5874",
        email: "info@demolink.org"
      })