//- Header base transparent
header.section-single-header
  .divider.divider-wide.bg-accent
  .page-head-inner
    .container.text-center
      //- RD Navbar Brand
      a.brand(href='index.html')
        +png('logo-inverse-155x32')