//- Footer base
.section-single-footer
  .container.text-center
    .row
      .col-sm-12
        p.rights.small
          span LawFirm
          span &nbsp;&#169;&nbsp;
          span.copyright-year
          span All Rights Reserved
          br.d-md-none
          a.link-primary-inverse(href='#') Terms of Use
          span and
          a.link-primary-inverse(href='privacy-policy.html') Privacy Policy
  .divider.divider-wide.bg-accent
='\n'
