.row.row-40
  .col-sm-6.col-lg-3
    +icon-box({
      mod: 'icon-box-vertical',
      icon: ['icon-lg', 'mercury-icon-lib'],
      header: 'Civil Litigation',
      text: 'Civil litigation is the process in which civil matters are resolved in a court of law.'
    })
    
  .col-sm-6.col-lg-3
    +icon-box({
      mod: 'icon-box-vertical',
      icon: ['icon-lg', 'mercury-icon-briefcase'],
      header: 'Business Law',
      text: 'Business law deals with the creation of new businesses and the issues that arise as existing.'
    })

  .col-sm-6.col-lg-3
    +icon-box({
      mod: 'icon-box-vertical',
      icon: ['icon-lg', 'mercury-icon-users'],
      header: 'Family Law',
      text: 'Family law attorneys help their clients file for separation or divorce, alimony or child custody.'
    })  

  .col-sm-6.col-lg-3
    +icon-box({
      mod: 'icon-box-vertical',
      icon: ['icon-lg', 'mercury-icon-house'],
      header: 'Real Estate Law',
      text: 'The real property market nuances and the laws regulating it are one of our biggest field of work.'
    })