//- Include
include ../elements/_ui-quote-minimal

//- Parallax
+parallax({
  img: 'clients-testimonials-parallax-1',
  addClass: 'bg-black'
})
  .section-60.section-md-90.section-xl-120
    .container.text-center
      .row.row-40.justify-content-lg-center
        .col-sm-12
          h3 What People Say
        .col-lg-11.col-xl-9
          //- Owl Carousel
          .owl-carousel-inverse
            .owl-carousel.owl-nav-position-numbering(data-items='1', data-stage-padding='0', data-loop='false', data-margin='30', data-nav='true', data-numbering='#owl-numbering-1', data-animation-in='fadeIn', data-animation-out='fadeOut')
              .item
                +quote-minimal({
                  mod: "quote-minimal-inverse",
                  text: "We have been very pleased with our experience with the LawFirm. Although we did not actually go to court, I felt that Jane was more than ready to fight her best for us. Our whole experience with all of the staff was very easy and enjoyable. Thank you for your work!",
                  cite: "Mark Wilson",
                  caption: "Freelancer"
                })

              .item
                +quote-minimal({
                  mod: "quote-minimal-inverse",
                  text: "I am so glad we chose LawFirm to represent us. We were in a very bad motorcycle accident. We were treated like family and were kept involved every step of the way. Thank you all who were involved in one way or other working our case!",
                  cite: "Amanda Smith",
                  caption: "Freelancer"
                })

              .item
                +quote-minimal({
                  mod: "quote-minimal-inverse",
                  text: "Tom and his staff were great with making us feel comfortable during the process. They kept us updated on our case progress and were very helpful with all of the paperwork we needed to complete. We are very pleased with the outcome of everything.",
                  cite: "Sam Cole",
                  caption: "Freelancer"
                })
            #owl-numbering-1.owl-numbering.owl-numbering-default
              .numbering-current
              .numbering-separator
              .numbering-count